
  <div class="page-sidebar-wrapper">
      <!-- BEGIN SIDEBAR -->
      <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
      <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
      <div class="page-sidebar navbar-collapse collapse">
          <!-- BEGIN SIDEBAR MENU -->
          <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
          <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
          <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
          <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
          <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
          <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
          <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li  routerLinkActive="active">
                <a [routerLink]="['']">
                <img src="https://digedez.github.io/flinkdash/assets//img-flink/homegris.png" width="25px" height="25px">
                <span class="title">HOME</span>
                </a>
            </li>
            <!--li  routerLinkActive="active">
                <a [routerLink]="['tarjeta']" >
                <img src="https://digedez.github.io/flinkdash/assets//img-flink/homegris.png" width="25px" height="25px">
                <span class="title">TARJETA</span>
                </a>
            </li-->

              <li routerLinkActive="active">
                  <a href="#">
                  <!--a [routerLink] = "['adm']"-->
                  <img src="https://digedez.github.io/flinkdash/assets//img-flink/administracion.png" width="25px" height="25px">
                  <span class="title">ADMINISTRACIÓN</span>
                  <!--/a-->
                  </a>
              </li>
              <li routerLinkActive="active">
                  <!--a [routerLink] = "['metas']"-->
                  <a href="#">
                  <img src="https://digedez.github.io/flinkdash/assets//img-flink/metas.png" width="25px" height="25px">
                  <span class="title">METAS</span>
                  <!--/a-->
                  </a>
              </li>
              <!--li routerLinkActive="active">
                  <a [routerLink]="['transf']">
                  <img src="https://digedez.github.io/flinkdash/assets//img-flink/transferencias.png" width="25px" height="25px">
                  <span class="title">TRANSFERENCIAS</span>
                  </a>
              </li-->
              <!--li routerLinkActive="active">
                  <a [routerLink]="['prestamo']">
                  <img src="https://digedez.github.io/flinkdash/assets//img-flink/prestamo.png" width="25px" height="25px">
                  <span class="title">PRÉSTAMO</span>
                  </a>
              </li-->
              <br>
              <br>
              <br>
              <br>
              <!--li class="nav-item  ">
                      <a href="javascript:;" class="nav-link nav-toggle">
                           <img src="https://digedez.github.io/flinkdash/assets//img-flink/ajustes.png" width="25px" height="25px">
                          <span class="title"><strong>AJUSTES</strong></span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub-menu">
                          <li class="nav-item  ">
                              <a href="invitar_amigos.html" class="nav-link">
                                  <span class="title">Invitar amigos</span>
                              </a>
                          </li>
                          <li class="nav-item  ">
                              <a href="bloquear_tarjeta.html" class="nav-link">
                                  <span class="title">Bloquear tarjeta</span>
                              </a>
                          </li>
                          <li class="nav-item  ">
                              <a href="cambiar_contra.html" class="nav-link" >
                                  <span class="title">Cambiar contraseña</span>
                              </a>
                          </li>
                          <li class="nav-item  ">
                              <a href="privacidad.html" class="nav-link ">
                                  <span class="title">Privacidad</span>
                              </a>
                          </li>
                          <li class="nav-item  ">
                              <a href="contratos.html" class="nav-link" >
                                  <span class="title">Contratos</span>
                              </a>
                          </li>
                      </ul>
                  </li>
                   <li>
                   <a href="javascript:;">
                      <img src="https://digedez.github.io/flinkdash/assets//img-flink/cerrarsesion.png" width="25px" height="25px">
                  <span class="title"><strong>CERRAR SESIÓN</strong></span>
                  </a>
              </li-->
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
  </ul>
          <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->
  </div>
